{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} pinboard_project_redo {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="{% static "css/materia.bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/materia.custom.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    {% block css %}
      
    {% endblock %}
  </head>
  <body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <a href="pinboard_project_redo_mainpage" class="navbar-brand">pinboard_project_redo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="pinboard_project_redo_changepasswordpage">Change password</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="pinboard_project_redo_registerpage">Register</a>
                </li>
              {% endif %}
              {% if user.is_authenticated %}
                <li>
                  <a class="nav-link" href="pinboard_project_redo_logoutuser">Logout</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="pinboard_project_redo_loginpage">Login</a>
                </li>
              {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>{% block page_title %} Jindou's Quotes {% endblock %}</h1>
            <p class="lead">{% block lead %}{% endblock %}</p>
          </div>
        </div>
      </div>


      {% block body %}{% endblock %}
      
    </div>

  </body>
</html>