{% extends "pinboard_project_redo.html" %}

{% block body %}

<h1>Password recovery</h1>
<form action="pinboard_project_redo_changepassword" method="post"> 
  {% csrf_token %}
  <div>
   <br><label for="Current password">Current password</label></br>
    <br><input id="Current password" type="password" name="Current password" placeholder="Password"></br>
  </div>
  <div>
    <br><label for="New password">New password</label></br>
    <br><input id="New password" type="password" name="New password" placeholder="Password"></br>
  </div>
  <div>
    <br><button type="submit">Update password</button><br>
  </div>
</form>

{% endblock %}