{% extends 'base.html' %}

{% block body %}
<h3>Edit contact</h3>
<form action='/editphonelist_save/{{edit_phonelist.id}}' method='post'>
  {% csrf_token %}
  <p>
    <input type='text' name='name' placeholder='name' value='{{edit_phonelist.name}}' />
  </p> 
  <p>
    <input type='text' name='phone' placeholder='phone' value='{{edit_phonelist.phone}}' />
  </p>
  <p>
    <textarea name='address' cols='30' rows='5' placeholder='address'>{{edit_phonelist.address}}</textarea>
  </p>
  <p>
    <button type='submit'>Update</button>
  </p>
</form>
{% endblock %}