{% extends "demobase.html" %}

{% block page_title %}

<h1>Password recovery</h1>
<form method="post" action="/pinboard_changepassword">
  {% csrf_token %}
  <fieldset>
    <p>
      <em>Developer note: </em>Verify the current password is correct before updating to the new password.
    </p>
    <div>
      <br><label>Current password</label></br>
      <br><input type="password" placeholder="Password" name="current_password"></br>
    </div>
    <div>
      <br><label>New password</label></br>
      <br><input type="password" placeholder="Password" name="new_password"></br>
    </div>
    <div>
      <br>
         <button>Upadate password</button>
      </br>
    </div>
  </fieldset>
</form>

{% endblock %}